.orders-for-delivery {
  padding: 0.5rem;

  h2 {
    margin-bottom: 1rem;
  }

  .order {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;

    .order-extra {
      background: var(--text-link-color);
      color: var(--primary-color);
      padding: 0.5rem;
    }

    .delivered {
      background: var(--text-danger-color);
      color: var(--light-color);
    }

    button {
      margin-top: 1rem;
    }

    hr {
      margin: 1rem 0;
    }

    .total-order {
      color: var(--text-danger-color);
      text-align: right;
      margin: 0;
    }
  }

  span {
    color: var(--text-link-color);
  }
}

.courier {
  span {
    color: var(--text-link-color);
  }
  button {
    margin: 1rem 0.5rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
