.home-page {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;

  .hours {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 2rem 0.5rem;
  }
  .phone-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;

    p {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 1024px) {
  .home-page {
    flex-direction: column-reverse;
    align-items: center;

    .hours {
      gap: 1rem;
    }
  }
}
